<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr class="blog_image">
      <td><%= form.label :image %></td>
      <td><%= form.file_field :image, id: :blog_image %></td>
      <td><%= form.hidden_field :image_cache %></td>
    </tr>
    <tr class="blog_content">
      <td><%= form.label :content %></td>
      <td><%= form.text_area :content, :size => "30x2" %></td>
    </tr>
  </table>
  <%= form.submit %>
<% end %>
<%= link_to "投稿一覧画面にもどる", blogs_path %>
