<h2><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>
<% if @user.icon? %>
  <p>
    <strong>Icon:</strong>
    <%= image_tag @user.icon %>
  </p>
<% else %>
  <strong>アイコンを登録しましょう</strong>
  <%= form_with(model: @user, local: true) do |f| %>
    <table>
      <tr>
        <td><%= f.label :icon %></td>
        <td><%= f.file_field :icon, id: :user_icon %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>
    </table>
    <%= f.submit "icon登録" %>
  <% end %>
<% end %>
<h3>お気に入り</h3>
<div class="row">
  <% @favorite_blogs.each do |blog| %>
    <div class="col-xs-12 col-md-6 blog-panel">
      <p class="blogImage"><%= blog.image %></p>
      <p class="blogContent"><%= blog.content %></p>
    </div>
  <% end %>
</div>
