<section class="main-header">
  <div>
    <%= link_to image_tag('logos/hiragana_i.png'), blogs_path %>
    <%= link_to image_tag('logos/hiragana_n.png'), blogs_path %>
    <%= link_to image_tag('logos/hiragana_su.png'), blogs_path %>
    <%= link_to image_tag('logos/hiragana_ta.png'), blogs_path %>
    <%= link_to image_tag('logos/hiragana_gu.png'), blogs_path %>
    <%= link_to image_tag('logos/hiragana_ra.png'), blogs_path %>
    <%= link_to image_tag('logos/hiragana_mu.png'), blogs_path %>
  </div>
</section>
<section class="about">
  <h1>PHASE3大課題</h1>
  <h2>Instagram Clone App</h2>
  <div class="link-buttons">
    <% if logged_in? %>
      <%= link_to 'ENTER', blogs_path, class:'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to 'LOG IN', new_session_path, class:'btn btn-default btn-lg' %>
      <%= link_to 'SIGN UP', new_user_path, class:'btn btn-primary btn-lg' %>
    <% end %>
  </div>
  <p>
    PHASE3大課題、Instagramクローンです。<br>
    卒業課題に追われ突貫工事...<br>
    前作BlogAppから、機能を再構成し、ちゃちゃっと作りました...<br>
  </p>
  <p>
    フリー素材はいらすとやさんから拝借。
  </p>
  <div>
    <ul><strong>今後の展望</strong>
      <li>サインアップしたらログインもしてるように</li>
      <li>インスタみたいに、一覧からファボれるように</li>
      <li>インスタみたいに、リプライ飛ばせるように(Commentsモデルを別途用意)</li>
      <li>デザインで手を抜かない</li>
    </ul>
  </div>
</section>
