<h1>お問い合わせページ</h1>
<%= form_with(model: @contact, local: true) do |form| %>
 <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h3><%= @contact.errors.count %>件のエラーがあります。</h3>
      <ul>

      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p><%= notice %></p>
  <table>
    <tr class="contact_title">
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr class="contact_title">
      <td><%= form.label :email %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr class="contact_title">
      <td><%= form.label :content %></td>
      <td><%= form.text_area :content %></td>
    </tr>
  </table>
  <%= form.submit '投稿'%>
<% end %>
