<!DOCTYPE html>
<html>
  <head>
    <title>blogapp</title>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <ul>
        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "INDEX", blogs_path %></li>
        <% if logged_in? %>
          <li><%= link_to @current_user.name, user_path(current_user.id) %></li>
          <li><%= link_to "LOGOUT", session_path(current_user.id), method: :delete %></li>
          <li><%= link_to '新規投稿', new_blog_path %></li>
        <% else %>
          <li><%= link_to "SIGN UP", new_user_path %></li>
          <li><%= link_to "LOG IN", new_session_path %></li>
        <% end %>
      </ul>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <footer class="footer">
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>
</html>
